<a href="https://colab.research.google.com/github/SagarGuttal/Deep-Learning/blob/main/Tensorflow_ETA_using_tf_inputpipeline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf

In [2]:
daily_sales = [21,45,-65,-89,85,-45,78,23,-65,-75,23]

In [3]:
tf_dataset = tf.data.Dataset.from_tensor_slices(daily_sales)
tf_dataset

In [4]:
#it stored in tensors
for sales in tf_dataset:
  print(sales)

tf.Tensor(21, shape=(), dtype=int32)
tf.Tensor(45, shape=(), dtype=int32)
tf.Tensor(-65, shape=(), dtype=int32)
tf.Tensor(-89, shape=(), dtype=int32)
tf.Tensor(85, shape=(), dtype=int32)
tf.Tensor(-45, shape=(), dtype=int32)
tf.Tensor(78, shape=(), dtype=int32)
tf.Tensor(23, shape=(), dtype=int32)
tf.Tensor(-65, shape=(), dtype=int32)
tf.Tensor(-75, shape=(), dtype=int32)
tf.Tensor(23, shape=(), dtype=int32)

In [5]:
#Show in numpy array
for sales in tf_dataset:
  print(sales.numpy())

21
45
-65
-89
85
-45
78
23
-65
-75
23

In [8]:
#Show in numpy array
for sales in tf_dataset.as_numpy_iterator():
  print(sales)

21
45
-65
-89
85
-45
78
23
-65
-75
23

In [10]:
#Show in numpy array and looking first 3 items
for sales in tf_dataset.take(3):
  print(sales.numpy())

21
45
-65

In [11]:
#we can filter the item using filter function in tf.dataset pipline
filterted_data = tf_dataset.filter(lambda x: x>0)
for sales_filter in filterted_data:
  print(sales_filter.numpy())

21
45
85
78
23
23

In [16]:
#we can also transfor our data into using map funtion in tf.dataset pipline
transfored_data = filterted_data.map(lambda x:x*72)
for sales_trasfor in transfored_data.as_numpy_iterator():
  print(sales_trasfor)

1512
3240
6120
5616
1656
1656

In [18]:
# we can aslo shuffle the dataset using tf.dataset pipline
shuffled_data = transfored_data.shuffle(5)   #inside shuffle we give buffer_size 
for sales_shuffle in shuffled_data.as_numpy_iterator():
  print(sales_shuffle)

5616
1512
3240
6120
1656
1656

In [19]:
#We can also create batch of datasets using tf.dataset pipline
batch_dataset = transfored_data.batch(2)
for batch_sale in batch_dataset.as_numpy_iterator():
  print(batch_sale)

[1512 3240]
[6120 5616]
[1656 1656]

In [20]:
## We can perform all ETA in one line using tf.dataset pipline
tf_dataset = tf.data.Dataset.from_tensor_slices(daily_sales)
tf_dataset = tf_dataset.filter(lambda x: x>0).map(lambda y: y*72).shuffle(2).batch(2)

In [22]:
for sales in tf_dataset.as_numpy_iterator():
  print(sales)

[1512 6120]
[3240 5616]
[1656 1656]